{% extends 'base.html' %}
{% block content %}

    <article>
        <div class="whitebg about">
            <div class="ab_box"><i class="avatar_pic"><img src="/static/images/w.jpg"></i>
                <h3>朽木自雕</h3>
                <p>真名：燕永辉<br>
                    在校大学生，计算机科学与技术专业<br>
                    爱思考，喜欢安静，爱胡思乱想。</p>
            </div>
            <h2 class="gd_title">心路历程</h2><br>
            <div class="clear"></div>
            <div class="ab_dubai">
                <p>朽木者，需自雕</p><br>

                <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选择计算机科学与技术这个专业，说来也不是偶然。因为对计算机的热爱，高中便买了一本C语言的书来看，记得叫《谭浩强的c》，看了好几遍才勉强理解，（上了大学之后有看了《C语言程序设计：现代方法》不过这是后话了），
                    后来高考结束，父亲要我医学专业，而我并没有听从父亲的话，报了计算机科学与技术。
                </p><br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;后来上了大学，就像马跑进了草原，一下子失去了方向。就这样浑浑噩噩的到大二结束，大三了，思考了一个学期 ，重新找到了目标，于是我捡起了已经忘得差不多的c++，自学了曾经没有选修过的Java，
                    并建立了个人博客来记录重要的知识，以方便日后用到之时查阅
                </p><br>
                <p>&nbsp;&nbsp;不忘初心，方得始终</p><br>

            </div>
            <br>
{#            <span class="ly_button"><a href="http://www.yangqq.com/e/tool/gbook/?bid=1" target="_blank">留言</a></span>#}

        </div>
    </article>
{% endblock %}
