{% extends 'base.html' %}
{% block content %}
    <article>
        <!--lbox begin-->
        <div class="lbox">
            <div class="content_box whitebg">
                <h2 class="htitle"><span class="con_nav">您现在的位置是：<a href="/">网站首页</a>><a
                        href="/diary/{{ article.category }}">{{ article.category }}</a></span>{{ article.category }}
                </h2>
                <h1 class="con_tilte">{{ article.title }}</h1>
                <p class="bloginfo"><i class="avatar"><img
                        src="/static/images/w.jpg"></i><span>{{ article.user }}</span><span>{{ article.create_time|date:"y-m-d" }}</span><span>【<a
                        href="/diary/{{ article.category }}">{{ article.category }}</a>】</span><span>{{ article.views }}人已围观</span></p>
                <p class="con_info"><b>简介</b>{{ article.excerpt }}</p>
                <div class="con_text">
                    {{ article.body|safe }}
                    <p class="share"><b>转载：</b>感谢您对本站的认可，非常欢迎各位朋友分享到个人站长或者朋友圈，但转载请说明文章出处"www.yanyh.com"。
                    </p>
                    <p><span class="diggit">很赞哦！ (74)</span></p>
                    <div class="nextinfo">
                        <div>
                            <div><b>上一篇：</b>
                                {% if netx_blog %}
                                    <a href="content-{{ netx_blog.pk }}.html" class="article-tag">{{ netx_blog }}</a>
                                {% else %}
                                    没有了
                                {% endif %}
                            </div>
                            <div><b>下一篇：</b>
                                {% if previous_blog %}
                                    <a href="content-{{ previous_blog.pk }}.html"
                                       class="article-tag">{{ previous_blog }}</a>
                                {% else %}
                                    没有了
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="whitebg">
                <h2 class="htitle">相关文章</h2>
                <ul class="otherlink">
                    {% for oa in otherArticles %}
                        {% if oa.id == article.id %}
                        {% else %}
                            <li><a href="/diary/{{ oa.category }}/content-{{ oa.id }}.html"
                                   title="{{ oa.title }}">{{ oa.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="whitebg gbook">
                <h2 class="htitle">文章评论</h2>
                <ul>
                </ul>
            </div>
        </div>
        <!--lbox end-->
        <div class="rbox">
        </div>
        <div class="ad whitebg imgscale">
            <ul>
                <a href="/"><img src="/static/images/ad.jpg"></a>
            </ul>
            <div class="whitebg paihang">
                <h2 class="htitle">点击排行</h2>
                {#                <section class="topnews imgscale"><a href="/"><img src="/static/images/h1.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a></section>#}
                <ul>
                    {% for  ra in rankArticles %}
                        <li><i></i><a href="/diary/{{ ra.category }}/content-{{ ra.id }}.html">{{ ra.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ad whitebg imgscale">
                <ul>
                    <a href="https://promotion.aliyun.com/ntms/act/enterprise-discount.html?userCode=cdru5f07"
                       target="_blank"><img src="/static/images/ad/259_194.jpg"></a>
                </ul>
            </div>
            <div class="whitebg tuijian">
                <h2 class="htitle">本栏推荐</h2>
                                <section class="topnews imgscale"><img
                                        src="/static/images/h2.jpg"></section>
                <ul>
                    {%  for rcmda  in recommendArticle %}
                    <li><a href="/diary/{{ rcmda.category }}/content-{{ rcmda.id }}.html"></a><i><img src="/media/{{ rcmda.img }}"></i>
                        <p>{{ rcmda.title }}</p>
                    {% endfor %}

                </ul>
            </div>
            <div class="whitebg tongji">
                <h2 class="htitle">微信公众号</h2>
                <p>扫面二维码，关注我，一起学习交流</p>
                    <img src="/static/images/gzh.jpg" class="tongji_gzh">

            </div>
        </div>
            {#            <div class="whitebg cloud">#}
            {#                <h2 class="htitle">标签云</h2>#}
            {#                <ul>#}
            {#                    {% for tag in tags %}#}
            {#                        <a href="" target="_blank">个人博客模板</a> <a href="" target="_blank">css动画</a> <a href=""#}
            {#                                                                                                      target="_blank">布局</a>#}
            {#                        <a href="" target="_blank">今夕何夕</a> <a href="" target="_blank">SEO</a>#}
            {#                        <a href="" target="_blank">女程序员</a>#}
            {#                        <a href="" target="_blank">小世界</a> <a href="" target="_blank">个人博客</a>#}
            {#                        <a href="" target="_blank">网页设计</a>#}
            {#                    {% endfor %}#}
            {#                </ul>#}
            {#            </div>#}

    </article>
{% endblock %}