{% extends 'base.html' %}
{% block content %}
    <article>
        <!--lbox begin-->
        <div class="lbox">
            <!--banbox begin-->
            <div class="banbox">
                <div class="banner">
                    <div id="banner" class="fader">
                        <li class="slide"><a href="/" target="_blank"><img src="static/images/1.jpg"></a></li>
                        <li class="slide"><a href="/" target="_blank"><img src="static/images/2.jpg"></a></li>
                        <li class="slide"><a href="/" target="_blank"><img src="static/images/3.jpg"></a></li>
                        <li class="slide"><a href="/" target="_blank"><img src="static/images/4.jpg"></a></li>
                        <div class="fader_controls">
                            <div class="page prev" data-target="prev"></div>
                            <div class="page next" data-target="next"></div>
                            <ul class="pager_list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--banbox end-->
            <!--headline begin-->
            <div class="headline">
                <ul>
                    <li>
                        {#                        <a href="/" title="为什么说10月24日是程序员的节日？">#}
                        <img src="/static/images/h1.jpg"
                             alt="为什么说10月24日是程序员的节日？"><span></span>
                        {#                    </a>#}
                    </li>
                    <li>
                        {#                        <a href="/" title="个人网站做好了，百度不收录怎么办？来，看看他们怎么做的">#}
                        <img src="static/images/h2.jpg" alt="个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。"><span></span>
                        {#                        </a>#}
                    </li>
                </ul>
            </div>
            <!--headline end-->
            <div class="clearblank"></div>
            <div class="tab_box whitebg">
                <div class="tab_buttons">
                    <ul>
                        <li class="newscurrent">最新发表</li>
                        {#                                                <li>工作日记</li>#}
                        {#                                                <li>心路历程</li>#}
                        {#                                                <li>我的博客</li>#}
                        {#                                                <li>前端技术</li>#}
                    </ul>
                </div>
                <div class="newstab">
                    <div class="newsitem">
                        <div class="newspic">
                            <ul>
                                <li>
                                    {#                                    <a href="/">#}
                                    <img src="static/images/2.jpg">
                                    {#                                        <span>个人博客，属于我的小世界！</span></a>#}
                                </li>
                                <li>
                                    {#                                    <a href="/">#}
                                    <img src="static/images/4.jpg">
                                    {#                                        <span>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的</span>#}
                                    {#                                    </a>#}
                                </li>
                            </ul>
                        </div>
                        <ul class="newslist">
                            {% for na  in newArticles %}

                                <li><i></i><a
                                        href="/diary/{{ na.category }}/content-{{ na.id }}.html">{{ na.title }}</a>
                                    <p>
                                        {{ na.excerpt }}
                                    </p>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>


                </div>
            </div>
            <!--tab_box end-->
            {#            <div class="zhuanti whitebg">#}
            {#                <h2 class="htitle"><span class="hnav"><a href="/">原创模板</a><a href="/">古典</a><a href="/">清新</a><a href="/">低调</a></span>精彩专题</h2>#}
            {##}
            {#                <ul>#}
            {#                    {% for zta in ztArticles %}#}
            {#                        <li><i class="ztpic"><a href="/diary/{{ zta.category }}/content-{{ zta.id }}.html"#}
            {#                                                target="_blank"><img src="media/{{ zta.img }}"></a></i>#}
            {#                            <b>{{ zta.title }}</b><span>z{{ zta.excerpt }}</span><a#}
            {#                                    href="/diary/{{ zta.category }}/content-{{ zta.id }}.html" target="_blank" class="readmore">文章阅读</a></li>#}
            {#                    {% endfor %}#}
            {#                </ul>#}
            {#            </div>#}
            <div class="ad whitebg"><a href="https://promotion.aliyun.com/ntms/act/qwbk.html?userCode=cdru5f07"
                                       target="_blank"> <img src="/static/images/ad/960x220.png"> </a></div>
            <div class="whitebg bloglist">
                <h2 class="htitle">博文列表</h2>
                <ul>
                    {% for article in indexArticles %}
                        <li>
                            <h3 class="blogtitle"><a href="/diary/{{ article.category }}/content-{{ article.id }}.html" >{{ article.title }}</a></h3>
                            <span class="blogpic imgscale"><i><a href="/">
                                {% for tag in article.tags.all %}
                                    {{ tag }}
                                {% endfor %}
                            </a></i><a href="/diary/{{ article.category }}/content-{{ article.id }}.html" title=""><img
                                    src="/media/{{ article.img }}" srcset="/media/{{ article.img }}" alt=""></a></span>
                            <p class="blogtext">{{ article.excerpt | safe }}</p>

                            <p class="bloginfo"><i class="avatar"><img
                                    src="/static/images/w.jpg"></i><span>{{ article.user }}</span><span>{{ article.create_time |date:"y-m-d" }}</span><span>【<a
                                    href="/">{{ article.category }}</a>】</span></p>
                            <a href="/diary/{{ article.category }}/content-{{ article.id }}.html"
                               class="viewmore">阅读更多</a>

                        </li>
                    {% endfor %}</ul>
                <!--pagelist-->
                <div class="pagination">
                    <ul>
                        {% if indexArticles.has_previous %}
                            <li class="prev-page"><a href="?page={{ indexArticles.previous_page_number }}">上一页</a></li>
                        {% else %}
                            <li class="prev-page"></li>
                        {% endif %}


                        {% for num in indexArticles.paginator.page_range %}
                            {% if num %}
                                {% ifequal num indexArticles.number %}
                                    <li class="active"><span>{{ num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li class="disabled"><span>...</span></li>
                            {% endif %}
                        {% endfor %}


                        {% if indexArticles.has_next %}
                            <li class="next-page"><a href="?page={{ indexArticles.next_page_number }}">下一页</a></li>
                        {% else %}
                            <li class="prev-page"></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="rbox">
            <div class="card">
                <h2>我的名片</h2>
                <p>网名：GoniaYen|朽木自雕</p>
                <p>职业：在校大学生</p>
                <p>现居：广东省-珠海市</p>
                <p>Email：yanyh727@stu.jluzh.edu.cn</p>

                <ul class="linkmore">
                    <li><a href="http://www.yanyh.com" target="_blank" class="iconfont icon-zhuye" title="网站地址"></a>
                    </li>
                    <li>
                        <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=TzYuITYneH14Dzw7OmElIzo1J2EqKzphLCE"
                           style="text-decoration:none;"
                           target="_blank" class="iconfont icon-youxiang" title="我的邮箱"></a>
                    </li>
                    <li><a href="http://wpa.qq.com/msgrd?v=3&uin=54957241&site=qq&menu=yes" target="_blank"
                           class="iconfont icon---" title="QQ联系我"></a></li>
                    <li id="weixin"><a href="#" target="_blank" class="iconfont icon-weixin"
                                       title="关注我的微信"></a><i><img
                            src="/static/images/wx.jpg"></i></li>
                </ul>
            </div>
            <div class="whitebg notice">
                <h2 class="htitle">网站公告</h2>
                <ul>
                    <li><b>建站时间</b>：2019-3-14</li>
                    <li><b>网站程序</b>：Django</li>
                    <li><b>主题模板</b>：<a href="http://www.yangqq.com" target="_blank">《今夕何夕》</a></li>
                    <li><b>文章统计</b>：{{ Articles_count }}条</li>
                </ul>
            </div>
            <div class="whitebg paihang">
                <h2 class="htitle">点击排行</h2>
                <section class="topnews imgscale"><img src="/static/images/h1.jpg"><span></span>
                </section>
                <ul>
                    {% for ra in rankArticles %}
                        <li><i></i><a href="/diary/{{ ra.category }}/content-{{ ra.id }}.html">{{ ra.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="whitebg tuijian">
                <h2 class="htitle">站长推荐</h2>
                <section class="topnews imgscale"><img
                        src="static/images/h2.jpg">
                </section>
                <ul>
                    {% for rcmda in recommendArticle %}
                        <li><a href="/diary/{{ rcmda.category }}/content-{{ rcmda.id }}.html"><i><img
                                src="/media/{{ rcmda.img }}"></i>
                            <p>{{ rcmda.title }}</p>
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
           <div class="ad whitebg imgscale">
                <ul>
                    <a href="https://promotion.aliyun.com/ntms/act/enterprise-discount.html?userCode=cdru5f07"
                       target="_blank"><img src="/static/images/ad/259_194.jpg"></a>
                </ul>
            </div>
            <div class="whitebg wenzi">
                <h2 class="htitle">猜你喜欢</h2>
                <section class="topnews imgscale"><img
                        src="static/images/4.jpg">
                </section>
                <ul>
                    {% for gul in guessYouLike %}
                        <li><a href="/diary/{{ gul.category }}/content-{{ gul.id }}.html">
                            <p>{{ gul.title }}</p></a>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="whitebg tongji">
                <h2 class="htitle">微信公众号</h2>
                <p>扫面二维码，关注我，一起学习交流</p>
                    <img src="/static/images/gzh.jpg" class="tongji_gzh">

            </div>


            <div class="links whitebg">
                <h2 class="htitle"><span class="sqlink"></span>友情链接</h2>
                <ul>
                    {% for link in blogroll %}
                        <li><a href="{{ link.linkurl }}" target="_blank">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </article>
{% endblock %}
