{% extends 'base.html' %}
{% block content %}
    <article>
        <!--lbox begin-->
        <div class="lbox">
            <div class="whitebg lanmu"><img src="/static/images/linux.jpeg">
                <h1>Linux</h1>
                <p>1991年一个名叫Linus Torvalds的芬兰大学生发布了第一个版本的linux操作系统，现已发展成了一个稳定的，开源的服务器操作系统，拥有众多的发行版，极具热情的开发者</p>
            </div>
            <div class="whitebg bloglist">
                <h2 class="htitle">博文列表</h2>
                <ul>
                    {% for article in linuxArticles %}
                        <li>
                            <h3 class="blogtitle"><a href="/diary/{{ article.category }}/content-{{ article.id }}.html" >{{ article.title }}</a></h3>
                            <span class="blogpic imgscale"><i>
                                {% for tag in article.tags.all %}
                                    {{ tag }}
                                {% endfor %}
                            </i><a href="/diary/{{ article.category }}/content-{{ article.id }}.html" title=""><img
                                    src="/media/{{ article.img }}" srcset="/media/{{ article.img }}" alt=""></a></span>
                            <p class="blogtext">{{ article.excerpt | safe }}</p>

                            <p class="bloginfo"><i class="avatar"><img
                                    src="/static/images/w.jpg"></i><span>{{ article.user }}</span><span>{{ article.create_time |date:"y-m-d" }}</span><span>【<a
                                    href="/diary/{{ article.category }}">{{ article.category }}</a>】</span></p>
                            <a href="/diary/{{ article.category }}/content-{{ article.id }}.html"
                               class="viewmore">阅读更多</a>

                        </li>
                    {% endfor %}</ul>
                <!--pagelist-->
                <div class="pagination">
                    <ul>
                        {% if linuxArticles.has_previous %}
                            <li class="prev-page"><a href="?page={{ linuxArticles.previous_page_number }}">上一页</a></li>
                        {% else %}
                            <li class="prev-page"></li>
                        {% endif %}


                        {% for num in linuxArticles.paginator.page_range %}
                            {% if num %}
                                {% ifequal num linuxArticles.number %}
                                    <li class="active"><span>{{ num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li class="disabled"><span>...</span></li>
                            {% endif %}
                        {% endfor %}


                        {% if linuxArticles.has_next %}
                            <li class="next-page"><a href="?page={{ linuxArticles.next_page_number }}">下一页</a></li>
                        {% else %}
                            <li class="prev-page"></li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    <div class="rbox">
        </div>
        <div class="ad whitebg imgscale">

            <div class="whitebg paihang">
                <h2 class="htitle">点击排行</h2>
                 <section class="topnews imgscale"><img src="/static/images/h1.jpg"></section>
                <ul>
                    {% for  ra in rankArticles %}
                        <li><i></i><a href="/diary/{{ ra.category }}/content-{{ ra.id }}.html">{{ ra.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ad whitebg imgscale">
                <ul>
                    <a href="https://promotion.aliyun.com/ntms/act/enterprise-discount.html?userCode=cdru5f07"
                       target="_blank"><img src="/static/images/ad/259_194.jpg"></a>
                </ul>
            </div>
            <div class="whitebg tuijian">
                <h2 class="htitle">本栏推荐</h2>
                                <section class="topnews imgscale"><img
                                        src="/static/images/h2.jpg"></section>
                <ul>
                    {%  for rcmda  in recommendArticle %}
                    <li><a href="/diary/{{ rcmda.category }}/content-{{ rcmda.id }}.html"></a><i><img src="/media/{{ rcmda.img }}"></i>
                        <p>{{ rcmda.title }}</p>
                    {% endfor %}

                </ul>
            </div>
            <div class="whitebg tongji">
                <h2 class="htitle">微信公众号</h2>
                <p>扫面二维码，关注我，一起学习交流</p>
                    <img src="/static/images/gzh.jpg" class="tongji_gzh">

            </div>
        </div>
    </article>
{% endblock %}